<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<budpay_payments>
				<!-- <debug>1</debug> -->
				<active>1</active>
				<title>Budpay</title>
				<integration_type>inline</integration_type>
				<model>Budpay\Payments\Model\Payment\Flutterwave</model>
				<order_status>pending</order_status>
				<can_use_checkout>1</can_use_checkout>
				<merchant_public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
				<merchant_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
				<allowed_merchant_countries>KE,US,UK,EU,NG,TZ,SA</allowed_merchant_countries>
				<allowed_merchant_countries>KES,USD,EUR,GBP,ZAR,TZS,NGN<allowed_merchant_countries>
				<payment_flow>immediate</payment_flow>
				<allowspecific>1</allowspecific>
				<can_refund>0</can_refund>
				<group>Offline</group>
			</budpay_payments>
		</payment>
		<csp>
			<mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
		</csp>
	</default>
</config>